<h3>Choose type of match you want to display: </h3>
<form [formGroup]="radioGroupForm">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model1">
        <label ngbButtonLabel class="btn btn-sm btn-danger mr-2">
            <input ngbButton type="radio" value="playoff"> Playoff
          </label>
        <label ngbButtonLabel class="btn btn-sm btn-danger mr-2">
            <input ngbButton type="radio" value="regular"> Regular
          </label>
    </div>
</form>
<pre>{{radioGroupForm.value['model1']}}</pre>

<h3>Pick the date from which you want to view the results: </h3>

<div>
    <ngb-datepicker style="background-color: gray" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
</div>

<hr/>

<button class="btn btn-sm btn-outline-danger mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-danger mr-2" (click)="dp.navigateTo()">To current month</button>

<hr/>

<div><button class="btn btn-sm btn-outline-danger mr-2" (click)="active()">Active</button>
    <hr/>
    <div class="table-responsive">
        <table class="table table-bordered table-dark table-hover">

            <thead class="thead-light">
                <tr>
                    <th scope="col">Home Team City</th>
                    <th scope="col">Home Team Name</th>
                    <th scope="col">Home Team Score</th>
                    <th scope="col">:</th>
                    <th scope="col">Away Team Score</th>
                    <th scope="col">Away Team City</th>
                    <th scope="col">Away Team Name</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let p of scoreBoard$ | async">
                    <td>{{p.game.homeTeam.City}}</td>
                    <td>{{p.game.homeTeam.Name}}</td>
                    <td>{{p.homeScore}}</td>
                    <td>:</td>
                    <td>{{p.awayScore}}</td>
                    <td>{{p.game.awayTeam.City}}</td>
                    <td>{{p.game.awayTeam.Name}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>