<div class="header">RECENT UPLOADS </div>

<youtube-player 
[videoId]="id"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id2"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id3"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id4"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id5"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id6"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id7"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id8"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id12"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id11"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id14"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>
<youtube-player
[videoId]="id15"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
></youtube-player>