<h2>Below you will find a team ranking in each division:</h2>
<hr/>
<h3>Eastern/Atlantic</h3>
<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">City</th>
                <th scope="col">Name</th>
                <th scope="col">Abbreviation</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of easternAtlantic$ | async">
                <td>{{p.rank}}</td>
                <td>{{p.team.City}}</td>
                <td>{{p.team.Name}}</td>
                <td>{{p.team.Abbreviation}}</td>
            </tr>
        </tbody>

    </table>
</div>
<h3>Eastern/Central</h3>
<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">City</th>
                <th scope="col">Name</th>
                <th scope="col">Abbreviation</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of easternCentral$ | async">
                <td>{{p.rank}}</td>
                <td>{{p.team.City}}</td>
                <td>{{p.team.Name}}</td>
                <td>{{p.team.Abbreviation}}</td>
            </tr>
        </tbody>

    </table>
</div>
<h3>Eastern/Southeast</h3>
<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">City</th>
                <th scope="col">Name</th>
                <th scope="col">Abbreviation</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of easternSoutheast$ | async">
                <td>{{p.rank}}</td>
                <td>{{p.team.City}}</td>
                <td>{{p.team.Name}}</td>
                <td>{{p.team.Abbreviation}}</td>
            </tr>
        </tbody>

    </table>
</div>
<h3>Western/Northwest</h3>
<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">City</th>
                <th scope="col">Name</th>
                <th scope="col">Abbreviation</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of westernNorthwest$ | async">
                <td>{{p.rank}}</td>
                <td>{{p.team.City}}</td>
                <td>{{p.team.Name}}</td>
                <td>{{p.team.Abbreviation}}</td>
            </tr>
        </tbody>

    </table>
</div>
<h3>Western/Pacific</h3>
<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">City</th>
                <th scope="col">Name</th>
                <th scope="col">Abbreviation</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of westernPacific$ | async">
                <td>{{p.rank}}</td>
                <td>{{p.team.City}}</td>
                <td>{{p.team.Name}}</td>
                <td>{{p.team.Abbreviation}}</td>
            </tr>
        </tbody>

    </table>
</div>
<h3>Western/Southwest</h3>
<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">City</th>
                <th scope="col">Name</th>
                <th scope="col">Abbreviation</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of westernSouthwest$ | async">
                <td>{{p.rank}}</td>
                <td>{{p.team.City}}</td>
                <td>{{p.team.Name}}</td>
                <td>{{p.team.Abbreviation}}</td>
            </tr>
        </tbody>

    </table>
</div>