<img src="/assets/images/nba.png" height="15%" width="15%" />
<br>
<br>
<div>
        <button class="btn btn-danger btn-space" routerLink="/teams/bucks" routerLinkActive="active">Milwaukee Bucks</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/bulls" routerLinkActive="active">Chicago Bulls</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/cavaliers" routerLinkActive="active">Cleveland Cavaliers</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/celtics" routerLinkActive="active">Boston Celtics</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/clippers" routerLinkActive="active">Los Angeles Clippers</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/grizzlies" routerLinkActive="active">Memphis Grizzlies</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/hawks" routerLinkActive="active">Atlanta Hawks</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/heat" routerLinkActive="active">Miami Heat</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/hornets" routerLinkActive="active">Charlotte Hornets</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/jazz" routerLinkActive="active">Utah Jazz</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/kings" routerLinkActive="active">Sacramento Kings</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/knicks" routerLinkActive="active">New York Knicks</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/lakers" routerLinkActive="active">Los Angeles Lakers</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/magic" routerLinkActive="active">Orlando Magic</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/mavericks" routerLinkActive="active">Dallas Mavericks</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/nets" routerLinkActive="active">Brooklyn Nets</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/nuggets" routerLinkActive="active">Denver Nuggets</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/pacers" routerLinkActive="active">Indiana Pacers</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/pelicans" routerLinkActive="active">New Orleans Pelicans</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/philadelphia" routerLinkActive="active">Philadelphia 76ers</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/pistons" routerLinkActive="active">Detroit Pistons</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/raptors" routerLinkActive="active">Toronto Raptors</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/rockets" routerLinkActive="active">Houston Rockets</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/spurs" routerLinkActive="active">San Antonio Spurs</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/suns" routerLinkActive="active">Phoenix Suns</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/thunder" routerLinkActive="active">Oklahoma City Thunder</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/timberwolves" routerLinkActive="active">Minnesota Timberwolves</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/trailblazers" routerLinkActive="active">Portland Trail Blazers</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/warriors" routerLinkActive="active">Golden State Warriors</button>
        <button class="btn btn-danger btn-space" routerLink="/teams/wizards" routerLinkActive="active">Washington Wizards</button>
    </div>
    