<div>
        <button class="btn btn-danger" routerLink="/teams/bucks" routerLinkActive="active">Milwaukee Bucks</button>
        <button class="btn btn-danger" routerLink="/teams/bulls" routerLinkActive="active">Chicago Bulls</button>
        <button class="btn btn-danger" routerLink="/teams/cavaliers" routerLinkActive="active">Cleveland Cavaliers</button>
        <button class="btn btn-danger" routerLink="/teams/celtics" routerLinkActive="active">Boston Celtics</button>
        <button class="btn btn-danger" routerLink="/teams/clippers" routerLinkActive="active">Los Angeles Clippers</button>
        <button class="btn btn-danger" routerLink="/teams/grizzlies" routerLinkActive="active">Memphis Grizzlies</button>
        <button class="btn btn-danger" routerLink="/teams/hawks" routerLinkActive="active">Atlanta Hawks</button>
        <button class="btn btn-danger" routerLink="/teams/heat" routerLinkActive="active">Miami Heat</button>
        <button class="btn btn-danger" routerLink="/teams/hornets" routerLinkActive="active">Charlotte Hornets</button>
        <button class="btn btn-danger" routerLink="/teams/jazz" routerLinkActive="active">Utah Jazz</button>
        <button class="btn btn-danger" routerLink="/teams/kings" routerLinkActive="active">Sacramento Kings</button>
        <button class="btn btn-danger" routerLink="/teams/knicks" routerLinkActive="active">New York Knicks</button>
        <button class="btn btn-danger" routerLink="/teams/lakers" routerLinkActive="active">Los Angeles Lakers</button>
        <button class="btn btn-danger" routerLink="/teams/magic" routerLinkActive="active">Orlando Magic</button>
        <button class="btn btn-danger" routerLink="/teams/mavericks" routerLinkActive="active">Dallas Mavericks</button>
        <button class="btn btn-danger" routerLink="/teams/nets" routerLinkActive="active">Brooklyn Nets</button>
        <button class="btn btn-danger" routerLink="/teams/nuggets" routerLinkActive="active">Denver Nuggets</button>
        <button class="btn btn-danger" routerLink="/teams/pacers" routerLinkActive="active">Indiana Pacers</button>
        <button class="btn btn-danger" routerLink="/teams/pelicans" routerLinkActive="active">New Orleans Pelicans</button>
        <button class="btn btn-danger" routerLink="/teams/philadelphia" routerLinkActive="active">Philadelphia 76ers</button>
        <button class="btn btn-danger" routerLink="/teams/pistons" routerLinkActive="active">Detroit Pistons</button>
        <button class="btn btn-danger" routerLink="/teams/raptors" routerLinkActive="active">Toronto Raptors</button>
        <button class="btn btn-danger" routerLink="/teams/rockets" routerLinkActive="active">Houston Rockets</button>
        <button class="btn btn-danger" routerLink="/teams/spurs" routerLinkActive="active">San Antonio Spurs</button>
        <button class="btn btn-danger" routerLink="/teams/suns" routerLinkActive="active">Phoenix Suns</button>
        <button class="btn btn-danger" routerLink="/teams/thunder" routerLinkActive="active">Oklahoma City Thunder</button>
        <button class="btn btn-danger" routerLink="/teams/timberwolves" routerLinkActive="active">Minnesota Timberwolves</button>
        <button class="btn btn-danger" routerLink="/teams/trailblazers" routerLinkActive="active">Portland Trail Blazers</button>
        <button class="btn btn-danger" routerLink="/teams/warriors" routerLinkActive="active">Golden State Warriors</button>
        <button class="btn btn-danger" routerLink="/teams/wizards" routerLinkActive="active">Washington Wizards</button>
    </div>
    
<button (click)="active()">Active</button>
<h1>Team Roster:</h1>

<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover">

        <thead class="thead-light">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Jersey Number</th>
                <th scope="col">Position</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">BirthDate</th>
                <th scope="col">Age</th>
                <th scope="col">BirthCity</th>
                <th scope="col">BirthCountry</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let p of playerentry$ | async">
                <td>{{p.player.FirstName}}</td>
                <td>{{p.player.LastName}}</td>
                <td>{{p.player.JerseyNumber}}</td>
                <td>{{p.player.Position}}</td>
                <td>{{p.player.Height}}</td>
                <td>{{p.player.Weight}}</td>
                <td>{{p.player.BirthDate}}</td>
                <td>{{p.player.Age}}</td>
                <td>{{p.player.BirthCity}}</td>
                <td>{{p.player.BirthCountry}}</td>
            </tr>
        </tbody>
    
    </table>
</div>
