<nav class="navbar navbar-light fixed-top" style="background-color: #A50000;">

    <div class="row">
        <div class="col">
            <div ngbDropdown class="btn-group-vertical">
                <button class="btn btn-outline-danger mr-2" id="dropdownMenu1" ngbDropdownToggle>
                        <span class="navbar-toggler-icon">
                        </span>
                    </button>
                <div style="background:#696969" ngbDropdownMenu aria-labelledby="dropdownMenu1">

                    <button class="btn btn-danger btn-block" routerLink="/teams" routerLinkActive="active">Teams</button>
                    <button class="btn btn-danger btn-block" routerLink="/scores" routerLinkActive="active">Scores</button>
                    <button class="btn btn-danger btn-block" routerLink="/tables" routerLinkActive="active">Tables</button>
                    <button class="btn btn-danger btn-block" routerLink="/news" routerLinkActive="active">News</button>
                    <button class="btn btn-danger btn-block" routerLink="/youtube-player" routerLinkActive="active">YouTube</button>
                    <button class="btn btn-danger btn-block" routerLink="/favourites" routerLinkActive="active">Favourites</button>
                    <button class="btn btn-danger btn-block" routerLink="/user-profile" routerLinkActive="active" *ngIf="auth.user | async as user;else notLogged">Hello {{user.displayName}}</button>

                </div>
            </div>
        </div>
    </div>

    <img src="/assets/images/Logo.png" height="60" width="80" />

</nav>

<ng-template #notLogged>
    <div></div>
    <div ngbDropdown>
        <button class="btn btn-danger btn-block" routerLink="/user-profile" routerLinkActive="active">Login</button>
        <button class="btn btn-danger btn-block" routerLink="/user-form" routerLinkActive="active">Sign Up</button>
    </div>
</ng-template>