<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #A50000;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="font-weight:bold">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="/assets/images/Logo.png" height="30" width="30"/></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Scores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">YouTube</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Favourites</a>
            </li>
            <div class="nav-item" *ngIf="auth.user | async as user;else notLogged">
                <li>
                    <a class="nav-link disabled" routerLink="/user-profile" routerLinkActive="active">Hello {{user.displayName}}</a>
                </li>
            </div>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<ng-template #notLogged>
    <div class="nav-item" class="collapse navbar-collapse" id="navbarsEampleDefault">
        <li>
            <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">SignIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user-form" routerLinkActive="active">SignUp</a>
        </li>
    </div>
</ng-template>