<nav class="navbar navbar-light fixed-top" style="background-color: #A50000;">
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <img src="/assets/images/Logo.png" height="80" width="100"/>
      </button>

      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse " id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/scores" routerLinkActive="active">Scores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tables" routerLinkActive="active">Tables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/news" routerLinkActive="active">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/youtube-player" routerLinkActive="active">YouTube</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/favourites" routerLinkActive="active">Favourites</a>
            </li>
            <div class="nav-item" *ngIf="auth.user | async as user;else notLogged">
                <li>
                    <a class="nav-link disabled" routerLink="/user-profile" routerLinkActive="active">Hello {{user.displayName}}</a>
                </li>
            </div>
        </ul>
    </div>
</nav>

<ng-template #notLogged>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-toggleable-xs" id="navbarsExampleDefault">
        <li>
            <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">SignIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user-form" routerLinkActive="active">SignUp</a>
        </li>
    </div>
</ng-template>