<div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <h3>Hello, GUEST</h3>
    <p>Login to get started...</p>
    <form (ngSubmit)="auth.emailLogin(email,password)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
        </div>

        <button type="submit" class="btn btn-success">Log In</button>
    </form>

    <button class="loginBtn loginBtn--google" (click)="auth.googleLogin()">Login with Google</button>
    <button class="loginBtn loginBtn--facebook" (click)="auth.fbLogin()">Login with Facebook</button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <h3>Hello, {{ user.displayName }}</h3>
        <p>UID: {{ user.uid }}</p>
        <p>Favorite Team: {{ user?.favoriteTeam }} </p>
        <button (click)="auth.signOut()">Logout</button>
        <form [formGroup]="detailForm" (ngSubmit)="setFavoriteTeam(user)">

            <h3>Set your favorite team:</h3>

            <label for="favoriteTeam">favorite team</label>
            <input type="test" formControlName="favoriteTeam">


            <button type="submit" [disabled]="!detailForm.valid">Submit</button>


        </form>
    </div>
</ng-template>