<div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <h3>Hello, GUEST</h3>
    <p>Login to get started...</p>
    <form (ngSubmit)="auth.emailLogin(email,password)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
        </div>

        <button type="submit" class="btn btn-success">Log In</button>
    </form>

    <button class="loginBtn loginBtn--google" (click)="auth.googleLogin()">Login with Google</button>
    <button class="loginBtn loginBtn--facebook" (click)="auth.fbLogin()">Login with Facebook</button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <h3>Hello, {{ user.displayName }}</h3>
        <p>UID: {{ user.uid }}</p>
        <p>Favorite Team: {{ user?.favoriteTeam }} </p>
        <button (click)="auth.signOut()">Logout</button>
        <hr/>
        <form [formGroup]="radioGroupForm">
                <div style="display: block" class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model2">
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Milwaukee Bucks"> Milwaukee Bucks
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Chicago Bulls"> Chicago Bulls
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Cleveland Cavaliers"> Cleveland Cavaliers
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Boston Celtics"> Boston Celtics
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Los Angeles Clippers"> Los Angeles Clippers
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Memphis Grizzlies"> Memphis Grizzlies
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Atlanta Hawks"> Atlanta Hawks
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Miami Heat"> Miami Heat
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Charlotte Hornets"> Charlotte Hornets
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Utah Jazz"> Utah Jazz
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Sacramento Kings"> Sacramento Kings
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="New York Knicks"> New York Knicks
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Los Angeles Lakers"> Los Angeles Lakers
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Orlando Magic"> Orlando Magic
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Dallas Mavericks"> Dallas Mavericks
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Brooklyn Nets"> Brooklyn Nets
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Denver Nuggets"> Denver Nuggets
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Indiana Pacers"> Indiana Pacers
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="New Orleans Pelicans"> New Orleans Pelicans
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Philadelphia 76ers"> Philadelphia 76ers
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Detroit Pistons"> Detroit Pistons
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Toronto Raptors"> Toronto Raptors
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Houston Rockets"> Houston Rockets
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="San Antonio Spurs"> San Antonio Spurs
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Phoenix Suns"> Phoenix Suns
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Oklahoma City Thunder"> Oklahoma City Thunder
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Minnesota Timberwolves"> Minnesota Timberwolves
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Portland Trail Blazers"> Portland Trail Blazers
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Golden State Warriors"> Golden State Warriors
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Golden State Warriors"> Golden State Warriors
                  </label>
                  <label ngbButtonLabel class="btn btn-sm btn-danger mr-2 btn-space">
                    <input ngbButton type="radio" value="Washington Wizards"> Washington Wizards
                  </label>
                </div>
        </form>
        <hr>
        <pre>{{radioGroupForm.value['model2']}}</pre>
    </div>
</ng-template>